.container{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-flow: row wrap;
    padding: 0 0 50px;
    justify-content: space-between;
    align-items: stretch;
}
.col-2{
    flex-basis: 45%;
    flex-grow: 1;
}
.card{
    margin: 0 10px;
    padding:20px;
    background-color: #EAFBD7;
    border-radius: 10px;
    text-align: center;
    color: #6A9440;
    -webkit-box-shadow: 5px 5px 4px 0px #B8B8B8; 
    box-shadow: 5px 5px 4px 0px #B8B8B8;
    
}
.card.syan{
    background-color: #6A9440;
    color: #fff;
}

.card img{
    height: 250px;
    width: 500px;
    object-fit: cover;
}
.card ol{
    text-align: justify;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5em;
}
.heading{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #6A9440;
    width: 800px;
    margin: 0 auto;
}